:root {
  --background: #F2F7FB;
  --foreground: #0A0D14;
  --card: #ffffff;
  --card-foreground: #0A0D14;
  --primary: #123283;
  --primary-foreground: oklch(0.985 0 0);

  --border: #E2E4E9;
  --input: #E2E4E9;
  --ring: oklch(0.708 0 0);
  --progress-empty: #E2E4E9;

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: #868C98;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #DF1C41;

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --footer-text: #667085;
  --brand-text: #141B34;
  --text-secondary: #525866;
}

.dark {
  --background: #141625;
  --foreground: #FFFFFF;
  --card: #1E2139;
  --card-foreground: #FFFFFF;
  --border: #474958;
  --input: #474958;
  --muted-foreground: #868C98;
  --brand-text: #FFFFFF;
  --text-secondary: #FFFFFF;
}
